.acceuil{

    position: fixed;
    width: 100%;
    height: 100%;
    background: url('../background_thomas.png');
    background-color: $color-2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.media-container{
    display: flex;
    padding-left: 240px;
    margin: 20px 0 40px 0;
    border-left: 3px solid black;
    

}

.medias-btn{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: $color-2 ;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor:pointer;
}

.icones{
    width: 27px;
}

.btn {
    margin-left: 150px;
    background:transparent;
    text-decoration: none;
    padding:10px 30px;
    border-radius: 25px;
    border: 2px solid $color-0;
    color:$color-0;
    transition: all 0.2s ease-in-out;

}

.btn:hover{
    background:$color-0;
    color:#f1f1f1;


}

.acceuil .contents{
    margin-top: 500px;
    margin-left: 10%;
}


@media screen and (max-width:1000px){
    .acceuil{
        background:url('../background_thomas2.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
  
    .acceuil .contents h1, h2{
        color:$color-0;        

    }



    .acceuil .contents .btn{
        background-color: $color-1;
    }
    
}

@media screen and (max-width:575px){
.acceuil .contents{
    margin-top: 700px;
    margin-left: 10%;
}

.acceuil .contents h1, h2{
    color:$color-1;        

}
}