.navigation {
    margin:0px 0;
    display: flex;
    flex-direction: row-reverse;
    font-size:30px;
    padding: 25px;
hr{
    height:100%;
    width:5px;
}

    a{       
        
        padding:15px;
        position:relative;
    }
    .nav-active{
        &::after{
            content:'';
            width:85%;
            height:5px;
            background-color: $color-0;
            position: absolute;
            bottom:1px;
            left:50%;
            transform: translateX(-50%);
        }
    }

}