.projets{
    display:flex;
    flex-direction: column;

    
    // navigation
    .navigation {
        margin:0px 0;
        display: flex;
        flex-direction: row-reverse;
        font-size:30px;
        background-color: $color-3;
    
    
        a{       
            color: $color-2;
            padding:15px;
            position:relative;
        }
        .nav-active{
            &::after{
                content:'';
                width:85%;
                height:5px;
                background-color: $color-1;
                position: absolute;
                bottom:1px;
                left:50%;
                transform: translateX(-50%);
            }
        }
    
    }


    // Background

    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    background-color: $color-4;

 // Article 1 (H1, p, btn, img)
    .art1{
            display: flex;
            flex-direction: row;
            padding: 5%;
            padding-right:10%;   

            h1, p{
                color:white;
                padding-top: 10%;  
                padding-left:0;              
            }
            h1{
                font-size: 100px;
            }
            p{
                padding-bottom: 10%;
                font-size: 30px;
            }

            //Texte descriptif (titre paragraphe et bouton)
            .prez{
                display:flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 5%;
                padding-right:50px;
                width: 40%;
                
            }

            
            //Bouton article 1
            .btn {
                font-size: 30px;
                padding-top: 50px;
                background:transparent;
                text-decoration: none;
                padding:10px 30px 10px 30px;
                border-radius: 25px;
                border: 2px solid $color-1;
                color:$color-1;
                transition: all 0.2s ease-in-out;
                width: fit-content;
                margin-right:10px;
                
                
            }
            
            .btn:hover{
                background:$color-0;
                color:$color-1;
            
            
            }
            // fin btn

            // img 1 ( right side)

            .vitrine1{
                display: flex;
                align-items: center;
                    position: relative;
                    
                    border-left:5px solid $color-1;
                    height: 550px;
                    margin-right:10px;
                    padding-left: 50px;
                    padding-top:25px;
                    margin-left:10%;

                    ;
                    img{
                        height:auto;
                        width:100%;
                        
                    }
            }
        }
       // 
    // Article 2 (h1, p, btn, img)---------------------------------------------------------------------------
    //
    .art2{
        width: 100%;
        height: 100%;
        background-size: contain;
        background-repeat: repeat;
        background-position: center;
        background-color: $color-4;
        display: flex;
            flex-direction: row;
            padding: 5%;   
        

            h1, p{
                color:white;
                padding-top: 10%;
                
                
            }
            h1{
                font-size: 100px;
            }
            p{
                padding-bottom: 10%;
                font-size: 30px;
            }

             //Texte descriptif (titre paragraphe et bouton) 2
            .prez2{
                display:flex;
                flex-direction: column;
                padding-left: 150px;
                padding-right:5%;
                padding-top:20px;
                width: 100%;
                
            }

                //Bouton article 1
                .btn {
                    font-size: 30px;
                    padding-top: 50px;
                    background:transparent;
                    text-decoration: none;
                    padding:10px 30px 10px 30px;
                    border-radius: 25px;
                    border: 2px solid $color-1;
                    color:$color-1;
                    transition: all 0.2s ease-in-out;
                    width: fit-content;
                    margin-right:10px;           
                }
                .btn:hover{
                    background:$color-0;
                    color:$color-1;
                }
                // fin btn


            .vitrine2{
                display:flex;
                align-items: center;                           
                height: 550px;
                border-right:5px solid $color-1; 
                padding-right: 50px;
                              
                img{
                    height:auto;
                    width:100%;
                    
                }
            
        }

    }











}


