@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$font-1: "Poppins", sans-serif;

$color-0: black;
$color-1: #f7f7f7ce;
$color-2: #c0b1b194;
$color-3: #282c34;
$color-4: rgb(32, 35, 42);

*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  
  background-color: $color-1;
  max-width: 100%;
  height:cover;
  font-family: $font-1;
  color: $color-3;
  
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $color-3;
  cursor: pointer;
}
a:visited {
  color: $color-3;
}

