$font-1: "Poppins", sans-serif;

$color-0: black;
$color-1: #d2fb61;
$color-2: #F1F1F1F1;
$color-3: #282c34;
$color-4: rgb(32, 35, 42);

*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  
  max-width: 100%;
  height:cover;
  font-family: $font-1;
  color: $color-3;
  
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: $color-3;
  cursor: pointer;
}
a:visited {
  color: $color-3;
}

